# SHARKS CLEANING - ATTACKS TO MEN SINCE 2002

In [1]:
'''
%pip install ipython
%pip install seaborn
'''

'\n%pip install ipython\n%pip install seaborn\n'

In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

import pylab as plt
import seaborn as sns

%matplotlib inline

In [3]:
sharks = pd.read_csv('../DATA/attacks.csv', encoding = "ISO-8859-1")

In [4]:
sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [5]:
sharks_ori_shape = sharks.shape
sharks_ori_shape

(25723, 24)

In [6]:
sharks.tail(20)  # podemos observar que al final de nuestro dataframe, hay muchas filas que no tienen ningún dato

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
25703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25708,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25710,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
sharks = sharks.dropna(how = 'all') # eliminamos las filas que tengan todo nulo

In [8]:
sharks.shape, sharks_ori_shape # tamaño del df ahora vs al inicio

((8703, 24), (25723, 24))

In [9]:
sharks # vemos que todavía tenemos muchas filas con muchos nulos

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
sharks = sharks[sharks.isna().sum(axis=1) < 10]

In [11]:
sharks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [12]:
sharks.shape, sharks_ori_shape # tamaño del df ahora vs al inicio

((6295, 24), (25723, 24))

In [13]:
sharks.info() # vemos las columnas con su tipo de variable y los no nulos que tienen cada una

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6295 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6294 non-null   object
 1   Date                    6295 non-null   object
 2   Year                    6293 non-null   float64
 3   Type                    6291 non-null   object
 4   Country                 6246 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5761 non-null   object
 7   Activity                5757 non-null   object
 8   Name                    6090 non-null   object
 9   Sex                     5736 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6269 non-null   object
 12  Fatal (Y/N)             5759 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3462 non-null   object
 15  Investigator or Source  6279 non-null   object
 16  pdf                     6295 non-null   object
 17  href formula            6294 non-null   object
 18  href                    6295 non-null   object
 19  Case Number.1           6295 non-null   object
 20  Case Number.2           6295 non-null   object
 21  original order          6295 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.2+ MB

In [14]:
# Las columnas Unnamed: 22 y Unnamed: 23 tendríamos que rellenarlas con datos, en este caso, al ser de tipo Object, con un String 'desconocido'

In [15]:
sharks[['Unnamed: 22', 'Unnamed: 23']] = sharks[['Unnamed: 22', 'Unnamed: 23']].fillna('Unknown')

In [16]:
nanCols = sharks.isna().sum()
nanCols[nanCols > 0]

Case Number                  1
Year                         2
Type                         4
Country                     49
Area                       448
Location                   534
Activity                   538
Name                       205
Sex                        559
Age                       2824
Injury                      26
Fatal (Y/N)                536
Time                      3347
Species                   2833
Investigator or Source      16
href formula                 1
dtype: int64

In [17]:
nanCols = sharks.isna().sum()
nanCols[nanCols > 1000]

Age         2824
Time        3347
Species     2833
dtype: int64

In [18]:
# Mirando los valores no nulos, deberíamos mirar la columna 'age', la columna 'time' y la columna 'species'

In [19]:
sharks[['Age','Time','Species ']]

      Age           Time         Species
0      57          18h00      White shark
1      11  14h00  -15h00              NaN
2      48          07h45              NaN
3     NaN            NaN        2 m shark
4     NaN            NaN  Tiger shark, 3m
...   ...            ...              ...
6297  NaN            NaN              NaN
6298  NaN            NaN              NaN
6299  NaN            NaN              NaN
6300  NaN            NaN              NaN
6301   15            NaN              NaN

[6295 rows x 3 columns]

In [20]:
# La columna species tiene un espacio, sería conveniente mirar todos los nombres de columnas y cambiarlos para que tuvieran el mismo formato

In [21]:
columns_names = sharks.columns.values
columns_names

array(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Injury',
       'Fatal (Y/N)', 'Time', 'Species ', 'Investigator or Source', 'pdf',
       'href formula', 'href', 'Case Number.1', 'Case Number.2',
       'original order', 'Unnamed: 22', 'Unnamed: 23'], dtype=object)

In [22]:
sharks.rename(columns={'Case Number': 'caseNumber', 'Date': 'date', 'Year': 'year', 'Type': 'type', 'Country': 'country', 'Area': 'area',
       'Location': 'location', 'Activity': 'activity', 'Name': 'name', 'Sex ': 'sex', 'Age': 'age', 'Injury': 'injury',
       'Fatal (Y/N)': 'fatal(y/n)', 'Time': 'time', 'Species ': 'species', 'Investigator or Source': 'investigatorOrSource', 'pdf': 'pdf',
       'href formula': 'hrefFormula', 'href': 'href', 'Case Number.1': 'caseNumber1', 'Case Number.2': 'caseNumber2',
       'original order': 'originalOrder', 'Unnamed: 22': 'unnamed22', 'Unnamed: 23': 'unnamed23'}, inplace=True)

In [23]:
print(sharks['year'].unique())

[2018. 2017.   nan 2016. 2015. 2014. 2013. 2012. 2011. 2010. 2009. 2008.
 2007. 2006. 2005. 2004. 2003. 2002. 2001. 2000. 1999. 1998. 1997. 1996.
 1995. 1984. 1994. 1993. 1992. 1991. 1990. 1989. 1969. 1988. 1987. 1986.
 1985. 1983. 1982. 1981. 1980. 1979. 1978. 1977. 1976. 1975. 1974. 1973.
 1972. 1971. 1970. 1968. 1967. 1966. 1965. 1964. 1963. 1962. 1961. 1960.
 1959. 1958. 1957. 1956. 1955. 1954. 1953. 1952. 1951. 1950. 1949. 1948.
 1848. 1947. 1946. 1945. 1944. 1943. 1942. 1941. 1940. 1939. 1938. 1937.
 1936. 1935. 1934. 1933. 1932. 1931. 1930. 1929. 1928. 1927. 1926. 1925.
 1924. 1923. 1922. 1921. 1920. 1919. 1918. 1917. 1916. 1915. 1914. 1913.
 1912. 1911. 1910. 1909. 1908. 1907. 1906. 1905. 1904. 1903. 1902. 1901.
 1900. 1899. 1898. 1897. 1896. 1895. 1894. 1893. 1892. 1891. 1890. 1889.
 1888. 1887. 1886. 1885. 1884. 1883. 1882. 1881. 1880. 1879. 1878. 1877.
 1876. 1875. 1874. 1873. 1872. 1871. 1870. 1869. 1868. 1867. 1866. 1865.
 1864. 1863. 1862. 1861. 1860. 1859. 1858. 1857. 1856. 1855. 1853. 1852.
 1851. 1850. 1849. 1847. 1846. 1845. 1844. 1842. 1841. 1840. 1839. 1837.
 1836. 1835. 1834. 1832. 1831. 1830. 1829. 1828. 1827. 1826. 1825. 1822.
 1819. 1818. 1817. 1816. 1815. 1812. 1811. 1810. 1808. 1807. 1805. 1804.
 1803. 1801. 1800. 1797. 1792. 1791. 1788. 1787. 1786. 1785. 1784. 1783.
 1780. 1779. 1776. 1771. 1767. 1764. 1758. 1753. 1751. 1749. 1755. 1748.
 1742. 1738. 1733. 1723. 1721. 1703. 1700. 1642. 1637. 1617. 1595. 1580.
 1555. 1554. 1543.  500.   77.    5.    0.]

In [24]:
print(sharks['sex'].unique())

['F' 'M' nan 'M ' 'lli' 'N' '.']

In [25]:
sharks.shape, sharks_ori_shape # tamaño del df ahora vs al inicio

((6295, 24), (25723, 24))

In [26]:
indexNames = sharks[ sharks['year'] < 2001 ].index # índices de los ataques antes de 2002
sharks.drop(indexNames, inplace=True) # quitamos de nuestro dataframe los índices que hemos hallado previamente
indexNames = sharks[ sharks['sex'] == 'F' ].index # índices de los ataques a mujeres
sharks.drop(indexNames, inplace=True) # quitamos de nuestro dataframe los índices que hemos hallado previamente
indexNames = sharks[ sharks['sex'] == 'lli' ].index # índices de los ataques a otros
sharks.drop(indexNames, inplace=True) # quitamos de nuestro dataframe los índices que hemos hallado previamente

In [27]:
sharks = sharks[sharks['year'].notna()]
sharks = sharks[sharks['sex'].notna()]

In [28]:
sharks.sex = sharks.sex.str.replace('M ', 'M') # para poner todos los datos de género con el mismo formato

In [29]:
print(sharks['year'].unique())

[2018. 2017. 2016. 2015. 2014. 2013. 2012. 2011. 2010. 2009. 2008. 2007.
 2006. 2005. 2004. 2003. 2002. 2001.]

In [30]:
print(sharks['sex'].unique())

['M']

In [31]:
sharks.shape, sharks_ori_shape # tamaño del df solo con los datos de los ataques de los últimos 50 años (1972-2022) vs al inicio

((1558, 24), (25723, 24))

In [32]:
nanCols = sharks.isna().sum()
nanCols[nanCols > 0]

type                      2
country                   2
area                     67
location                 71
activity                 52
name                      9
age                     347
injury                    1
fatal(y/n)              114
time                    428
species                 528
investigatorOrSource      5
dtype: int64

In [33]:
print(sharks['type'].unique())

['Invalid' 'Unprovoked' 'Provoked' 'Questionable' nan 'Boating' 'Boat'
 'Sea Disaster' 'Boatomg']

In [34]:
sharks.type = sharks.type.str.replace('Boating', 'Boat')
sharks.type = sharks.type.str.replace('Boatomg', 'Boat')
sharks.type = sharks.type.str.replace('Boat', 'Boating')

In [35]:
print(sharks['type'].unique())

['Invalid' 'Unprovoked' 'Provoked' 'Questionable' nan 'Boating'
 'Sea Disaster']

In [36]:
display(sharks[sharks['type'].isnull()]) # para ver qué ocurre con los valores nulos de type

,caseNumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatorOrSource,pdf,hrefFormula,href,caseNumber1,caseNumber2,originalOrder,unnamed22,unnamed23
85,2017.09.15.a,15-Sep-2017,2017.0,NaN,SAMOA,Upolu Island,Nofoalii,Fishing,male,M,NaN,Injuries to hands and legs,N,Night,NaN,"Samoa Observer, 9/16/2017",2017.09.15.a-Samoa.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.15.a,2017.09.15.a,6218.0,Unknown,Unknown
382,2015.07.27,27-Jul-2015,2015.0,NaN,AUSTRALIA,Victoria,Tyrendarra Beach,Surfing,male,M,40,Injury to hand,NaN,NaN,NaN,NaN,2015.07.27-Victoria.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.07.27,2015.07.27,5921.0,Unknown,Unknown

In [37]:
sharks.loc[85,'type'] = ['Unprovoked']
sharks.loc[382,'type'] = ['Unprovoked']

In [38]:
print(sharks['country'].unique())

['USA' 'AUSTRALIA' 'MEXICO' 'BRAZIL' 'ENGLAND' 'SOUTH AFRICA' 'THAILAND'
 'COSTA RICA' 'MALDIVES' 'BAHAMAS' 'ECUADOR' 'NEW CALEDONIA' 'MALAYSIA'
 nan 'CUBA' 'MAURITIUS' 'NEW ZEALAND' 'SPAIN' 'SAMOA' 'SOLOMON ISLANDS'
 'JAPAN' 'ST HELENA, British overseas territory' 'REUNION'
 'FRENCH POLYNESIA' 'UNITED KINGDOM' 'UNITED ARAB EMIRATES' 'PHILIPPINES'
 'INDONESIA' 'CHINA' 'COLUMBIA' 'EGYPT' 'CAPE VERDE' 'Fiji'
 'CAYMAN ISLANDS' 'ARUBA' 'MOZAMBIQUE' 'FIJI' 'PUERTO RICO' 'ITALY'
 'ST. MARTIN' 'FRANCE' 'PAPUA NEW GUINEA' 'TRINIDAD & TOBAGO' 'KIRIBATI'
 'ISRAEL' 'DIEGO GARCIA' 'TAIWAN' 'JAMAICA' 'PALESTINIAN TERRITORIES'
 'GUAM' 'SEYCHELLES' 'SCOTLAND' 'SAUDI ARABIA' 'CHILE' 'ANTIGUA'
 'DOMINICAN REPUBLIC' 'KENYA' 'RUSSIA' 'TURKS & CAICOS'
 'UNITED ARAB EMIRATES (UAE)' 'AZORES' 'TONGA' 'MALTA' 'VIETNAM'
 'MADAGASCAR' 'SOMALIA' 'NEVIS' 'CROATIA' 'PANAMA'
 'BRITISH VIRGIN ISLANDS' 'NORWAY' 'BELIZE' 'Sierra Leone'
 'ATLANTIC OCEAN' 'ST. MAARTIN' 'Seychelles' 'LIBERIA' 'MEXICO '
 'VENEZUELA' 'VANUATU' ' TONGA' 'URUGUAY' 'INDIA' 'MICRONESIA']

In [39]:
sharks['country'] = sharks['country'].str.lower()

In [40]:
display(sharks[sharks['country'].isnull()])

,caseNumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatorOrSource,pdf,hrefFormula,href,caseNumber1,caseNumber2,originalOrder,unnamed22,unnamed23
62,2017.11.13.R,Reported 13-Nov-2017,2017.0,Unprovoked,NaN,NaN,NaN,Surfing,Timur Yunusov,M,24,Puncture wounds to feet,N,NaN,NaN,Instagram,2017.11.13.R-Timur.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.11.13.R,2017.11.13.R,6241.0,Unknown,Unknown
525,2014.08.00,Aug-2014,2014.0,Invalid,NaN,NaN,NaN,Sea disaster,Cuban refugees,M,NaN,Shark involvement prior to death not confirmed,NaN,NaN,Shark involvement not confirmed,"Associated Press, 11/27/2014",2014.08.00-Cuban-refugees.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.00,2014.08.00,5778.0,Unknown,Unknown

In [41]:
sharks.loc[62,'country'] = ['Unknown']
sharks.loc[525,'country'] = ['Unknown']

In [42]:
sharks[['name']] = sharks[['name']].fillna('Unknown')

In [43]:
print(sharks['age'].unique())

['48' nan '18' '52' '15' '12' '32' '10' '21' '30' '60' '33' '29' '54' '34'
 '41' '37' '56' '19' '25' '69' '38' '35' '45' '14' '40s' '28' '20' '24'
 '26' '22' '7' '31' '17' '13' '42' '40' '50' '46' '82' '73' '68' '16' '39'
 '58' 'Teen' '55' '57' '47' '61' '65' '36' '43' '60s' '9' '49' '72' '59'
 '11' '27' '64' '23' '71' '44' '62' '6' '63' '70' '18 months' '53' '50s'
 '8' '51' 'teen' '66' '77' '74' '3' '28 & 26' '30s' '5' '86' '12 or 13'
 '46 & 34' 'Teens' '84' '\xa0 ' ' ' '30 or 36' '6½' '21 & ?' '75'
 '33 or 37' 'mid-30s']

In [44]:
sharks[['age']] = sharks[['age']].fillna('-1')

In [45]:
sharks.age = sharks.age.str.replace('40s', '40')
sharks.age = sharks.age.str.replace('Teen', '15')
sharks.age = sharks.age.str.replace('60s', '60')
sharks.age = sharks.age.str.replace('18 months', '0')
sharks.age = sharks.age.str.replace('50s', '50')
sharks.age = sharks.age.str.replace('teen', '15')
sharks.age = sharks.age.str.replace('28 & 26', '27')
sharks.age = sharks.age.str.replace('30s', '30')
sharks.age = sharks.age.str.replace('46 & 34', '40')
sharks.age = sharks.age.str.replace('15s', '15')
sharks.age = sharks.age.str.replace('\xa0 ', '-1')
sharks.age = sharks.age.str.replace('30 or 36', '33')
sharks.age = sharks.age.str.replace('6½', '6')
sharks.age = sharks.age.str.replace('21 & ?', '21')
sharks.age = sharks.age.str.replace('33 or 37', '35')
sharks.age = sharks.age.str.replace('mid-30', '35')
sharks.age = sharks.age.str.replace('12 or 13', '12')

In [46]:
sharks.age = sharks.age.str.replace(' ', '-1')

In [47]:
print(sharks['age'].unique())

['48' '-1' '18' '52' '15' '12' '32' '10' '21' '30' '60' '33' '29' '54'
 '34' '41' '37' '56' '19' '25' '69' '38' '35' '45' '14' '40' '28' '20'
 '24' '26' '22' '7' '31' '17' '13' '42' '50' '46' '82' '73' '68' '16' '39'
 '58' '55' '57' '47' '61' '65' '36' '43' '9' '49' '72' '59' '11' '27' '64'
 '23' '71' '44' '62' '6' '63' '70' '0' '53' '8' '51' '66' '77' '74' '3'
 '5' '86' '84' '21?' '75']

In [48]:
display(sharks[sharks['age'] == '21?'])

,caseNumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatorOrSource,pdf,hrefFormula,href,caseNumber1,caseNumber2,originalOrder,unnamed22,unnamed23
1925,2001.08.12,12-Aug-2001,2001.0,Unprovoked,thailand,Rayong Province,Laem Mae Pim Beach,Fell off banana boat,O. Jaimaung & friend,M,21?,Legs bitten,N,NaN,3 m [10'] shark,O. Jaimuang,2001.08.12-Jaimuang.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2001.08.12,2001.08.12,4378.0,Unknown,Unknown

In [49]:
sharks.loc[1925,'age'] = ['21']

In [50]:
print(sharks['age'].unique())

['48' '-1' '18' '52' '15' '12' '32' '10' '21' '30' '60' '33' '29' '54'
 '34' '41' '37' '56' '19' '25' '69' '38' '35' '45' '14' '40' '28' '20'
 '24' '26' '22' '7' '31' '17' '13' '42' '50' '46' '82' '73' '68' '16' '39'
 '58' '55' '57' '47' '61' '65' '36' '43' '9' '49' '72' '59' '11' '27' '64'
 '23' '71' '44' '62' '6' '63' '70' '0' '53' '8' '51' '66' '77' '74' '3'
 '5' '86' '84' '75']

In [51]:
nanCols = sharks.isna().sum()
nanCols[nanCols > 0]

area                     67
location                 71
activity                 52
injury                    1
fatal(y/n)              114
time                    428
species                 528
investigatorOrSource      5
dtype: int64

In [52]:
['Case Number', 'Date', 'Area',
       'Location', 'Activity', 'Age', 'Injury',
       'Fatal (Y/N)', 'Time', 'Species ', 'Investigator or Source', 'pdf',
       'href formula', 'href', 'Case Number.1', 'Case Number.2',
       'original order', 'Unnamed: 22', 'Unnamed: 23']

['Case Number',
 'Date',
 'Area',
 'Location',
 'Activity',
 'Age',
 'Injury',
 'Fatal (Y/N)',
 'Time',
 'Species ',
 'Investigator or Source',
 'pdf',
 'href formula',
 'href',
 'Case Number.1',
 'Case Number.2',
 'original order',
 'Unnamed: 22',
 'Unnamed: 23']

In [53]:
sharks.to_csv('../DATA/sharks_clean.csv', sep=',', index=False)

In [54]:
#voy a estudiar los ataques de tiburos desde el año 2001 a 2018 (hasta donde tengo datos) a hombres